@import url('normalize.css');
body{
	font-family: Cambria, Georgia, serif;
	background: #f9f9f9 url(../images/bg.jpg);
	font-weight: 300;
	font-size: 15px;
	color: #333;
	-webkit-font-smoothing: antialiased;
	overflow-y: scroll;
	overflow-x: hidden;
}
.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
	outline: none;
}

.ch-grid li {
	width: 300px;
	height: 300px;
	display: inline-block;
	margin: 70px;
	outline: none;
}
.ch-grid li:after, .ch-grid li:before {
	outline: none;
}
@media screen and (max-width: 360px){
	body{
		max-width: 100%;
	}
}