.cse{
	background-image: url(../images/cse.png);
}
.civil{
	background-image: url(../images/civil.png);
}
.electrical{
	background-image: url(../images/electrical.png);
}
.ece{
	background-image: url(../images/ece.png);
}
.mechanical{
	background-image: url(../images/mech.png);
}
.pni{
	background-image: url(../images/mech.png);
}
.physics{
	background-image: url(../images/physics.png);
}
.maths{
	background-image: url(../images/physics.png);
}
.archi{
	background-image: url(../images/archi.png);
}
.biotech{
	background-image: url(../images/biotech.png);
}
.earth-sciences{
	background-image: url(../images/earth-sciences.png);
}
.meta{
	background-image: url(../images/meta.png);
}
.chemical{
	background-image: url(../images/chemical.png);
}