.site-header{
	z-index:2;
	background-color:white;
	padding:0px;
	border-bottom: 2px dashed #316882;
}
.site-header .wrapper{
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 15px;
	padding-right: 35px;
	width: 100%;
}
.site-title{
	color: #316882 !important;
	font-weight:600;
	border-right: 3px dashed #316882;
	padding-right: 2%;		
}
.site-nav .page-link{
	margin-left: 10px;
	color: #316882 !important;
	font-weight:600;
}