
.post{
	text-align: left;
	max-width: 70%; 
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	background: white;
	padding: 1%;
	padding-left: 2% ;
	padding-right: 1% ;
	margin-bottom: 2%;
	margin-top: 2%;
	line-height: 190%;
}
.post .post-header{
	
}
.post .post-header .post-title{
	margin-top: 40px;
	color: #316882;
	text-transform: uppercase;
	font-size: 25px;
	letter-spacing: 1px;
}
.post .post-content h1{
	display: block !important;
	margin: 4% !important;
}
.post .post-content h3, .post .post-content h2{
	color: #316882;
	font-size: 1.25em;
}
.post .post-content h4{
	color: #316882;
}
.post .post-content p{
	display: block !important;
	margin: 3% !important;
}
.post ol li{
	list-style-type: decimal;
}
.post ul li{
	list-style-type: circle;
}

.post ol, .post ul{
	margin-left: 7% !important;
}
.post .post-image{
	display: block;
}