.post{
	text-align: left;
	max-width: 70%; 
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	background: white;
	padding: 1%;
	padding-left: 2%;
	padding-right: 2%;
	margin-bottom: 1%;
	margin-top: 2%;
}
.post .post-header{
	
}
.post .post-header .post-title{
	margin-top: 20px;
	color: #316882;
}
.post h1, .post p{
	display: block !important;
	margin: 4% !important;
}

.post li{
	list-style: decimal !important;
}

.post ol, .post ul{
	margin-left: 7% !important;
}