.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow: 
		inset 0 0 0 0 rgba(200,95,66, 0.4),
		inset 0 0 0 16px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
		
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.ch-img-3 { 
	background-image: url(../images/academics.jpg);
	background-position: -200px	0%;
}
.ch-img-4{ 
	background-image: url(../images/departments.jpg);
	background-position: 0px 0%;
}

.ch-img-5 { 
	background-image: url(../images/rules.jpg);
	background-position: 40% 0%;
}

.ch-img-6 { 
	background-image: url(../images/politics.jpg);
	background-position: 0%	0%;
}

.ch-img-7 { 
	background-image: url(../images/research.jpg);
	background-position: 30% 30%;
}
.ch-img-8 { 
	background-image: url(../images/restaurants.jpg);
	background-position: 90% 40%;
}

.ch-img-9 { 
	background-image: url(../images/sports.jpg);
	background-position: 30% 30%;
}
.ch-img-10 { 
	background-image: url(../images/placements.jpg);
	background-position: 0% -100px;
}
.ch-img-11 { 
	background-image: url(../images/fests.jpg);
	background-position: -100px 0px;
}
.ch-img-12 { 
	background-image: url(../images/places.jpg);
	background-position: 0% 0px;
}
.ch-img-13 { 
	background-image: url(../images/groups.jpg);
	background-position: 10% -60px;
}
.ch-img-14 { 
	background-image: url(../images/dictionary.jpg);
	
}

.ch-info {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	opacity: 0;
	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	-webkit-backface-visibility: hidden; /*for a smooth font */

}

.ch-info h3 {
	color: #316882;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 2px;
	font-size: 22px;
	font-weight: 700;
	margin: 0 30px;
	padding: 65px 0 0 0;
	height: 110px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #316882;
	padding: 10px 5px;
	font-weight: 400;
	/*font-style: italic;*/
	margin: 0 30px;
	font-size: 14px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
	outline: none;
}

.ch-item:hover {
	box-shadow: 
		inset 0 0 0 150px rgba(255,255,255,0.8),
		inset 0 0 0 20px rgba(255,255,255,0.9),
		0 1px 2px rgba(0,0,0,0.1);
}
/*rgba(200,95,66, 0.8),*/
.ch-item:hover .ch-info {
	opacity: 1;
	
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);	
}
